* {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

a {
  text-decoration: none;
}

p{
  margin: 0;
}

/**** Header ****/

.header {
  width: 100%;
  min-height: 450px;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position:relative; 
  z-index: 0;
  background-color: #000000;
  margin-bottom: 64px;
}

.header:before {
  content: "";
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
}

.logo {
  width: 180px;
  min-height: 41px;
}

.menu {
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative; 
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 126px;
}

.burger-menu{
  height: 41px;
  width: 41px;
}

.nav-menu {
  display: flex;
  display: none;
}

.navigation{
  display: none;
}

.nav-button:nth-child(n+2) {
  margin-left: 35px;
}

.nav-button {
  font-size: 16px;
  color: white;
}

.nav-button:hover {
  text-decoration: underline;
}

.menu-link {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.main-text-container {
  max-width: 700px;
  display: flex;
  color: white; 
  text-align: center;
  margin: 0 auto;
}

.main-text {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.65;
}

/**** Trends ****/

.trends-container{
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 64px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trends{
  width: calc(50% - 5px);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

.trends:nth-child(n+3){
  margin-top: 10px;
}

.trends-content{
  border: #7a6339 solid 3px;
  bottom: 0;
  padding: 38px;
  margin: 130px auto 15px;
  width: 95%;
  z-index: 2;

}

.trends-text{
  margin-top: 15px;
  color: white;
}

.trends-tags-list{
  display: flex;
}

.trends:before {
  content: "";
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

}
/**** posts ****/


.main-content {
  max-width: 1200px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 64px;
}

.posts:nth-child(n+2) {
  margin-top: 60px;
}

.post-image {
 display: block;
 width: 100%;
 margin-bottom: 15px;
} 

.posts-tags-link {
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  margin-right: 20px;
}

.post-tags-list {
  display: flex;
}

.post-header {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.post-header-container {
  padding-top: 13px;
}

.post-author {
  font-weight: 700;
  font-size: 12px;
  color: black;
}

.post-text > p {
  margin-top: 20px;
}

.post-text > p:not(:first-child) {
    margin-top: 16px;
}

.posts-info {
  display: flex;
  width: 100%;
  padding-top: 32px;
}

.post-date {
  padding-right: 15px;
  color: #9a9a9a;
  font-size: 12px;
}

.posts-content{
  width: 100%;
}

.posts-items{
  width: 100%;
  border-bottom: #eeeeee 2px solid;
  padding-bottom: 10px;
}

.posts-container{
  width: 55%;
}

/**** Aside-posts ****/

.aside {
  width: 40%;
}

.aside-header {
  height: 27px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.aside-header-text {
  font-weight: 700;
}

.aside-header-text::after{
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
}

.aside-posts {
  display: flex;
  height: 70px; 
  margin-top: 30px;
}

.aside-image {
  width: 70px;
  height: 70px;
}

.aside-posts-items {
  display: flex;
  flex: wrap;
  width: 272px;
}

.aside-posts-content {
  width: 202px;
  padding-left: 15px;
}

.aside-posts:nth-child(n+3) {
  margin-top: 30px;
}

.aside-post-header {
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

.aside-post-date {
  color: #9a9a9a
}

/**** Search Start ****/

.search-container {
  background: green;
  width: 270px;
  height: 48px;
  margin-top: 60px
}

.search-field {
  display: block;
  height: 48px;
  width: 222px;
  padding-left: 18px;
  border-style: none;
  background-color: #f5f7f6;
}

.search-button {
  height: 48px;
  width: 48px;
  border-style: none;
  background-color: #ae9e5f;
}

.search-image {
  width: 60%; 
}

.search {
   display: flex;
}

/*** Subscribe ***/

.subscribe-container {
  height: 165px;
  width: 270px;
  margin-top: 62px;
}
.subscribe-field {
  height: 48px;
  width: 270px;
  margin-top: 22px;
  padding-left: 18px;
  border-style: none;
  background-color: #f5f7f6;
}

.subscribe-button {
  height: 48px;
  width: 270px;
  border-style: none;
  background-color: #ae9e5f;
  color: white;
  font-weight: 700;
}

.subscribe-button-container {
  margin-top: 30px;
  width: 270px;
  height: 48px;
}

/*** aside tags start ***/

.aside-tags-container {
  width: 270;
  height: 150px;
  margin-top: 60px;
}

.aside-tags {
  width: 270px;
  height: 100px;
  margin-top: 24px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.aside-tag-item {
  background: white;
  border: 3px solid #ededed;
  display: inline-block;  
  height: 30px;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.aside-tag-item:hover {
  border: 3px solid red;
}

.aside-tag-text {
  color: black;
  font-weight: 700;
}

.aside-themes-container {
  margin-top: 60px;
  height: 320px;
}

.aside-themes-item {
  padding-bottom: 30px;
  padding-left: 2px;
  position: relative;
  display: flex;
}

.aside-themes-link {
  font-weight: 700;
  color: black;
}

.aside-themes-link:hover {
  color: #b59f5b;
}



.aside-themes-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 30px;
  background-color: #eeeeee;
}

.aside-themes-list {
  margin-top: 26px;
}

.aside-themes-counter {
  position: relative;
  top: 0;
  font-size: 12px;
  color: #b59f5b;
  margin-top: -2px;
  margin-left: 3px;
  font-weight: 700;
}

/*** Handmade-start ***/

.handmade-container{
  display: flex;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px auto 60px;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.handmade{
  background-size: contain;
  background-repeat: no-repeat;
  width: 45%;
  margin-top: 30px;
}

.handmade-tags-list{
  display: flex;
}

.handmade-pic-container{
  width: 90%;
  margin: 0 auto;
  margin-bottom: -25px;
}

.handmade-content{
  padding-left: 25px;
  padding-right: 25px;
  border: 3px solid #d3c59d;
  height: 240px;
}

.handmade-text-header{
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 25px;
}

.handmade-link{
  color: #d3c59d;
}

.handmade-shop{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.handmade-button{
  height: 48px;
  width: 140px;
  border-style: none;
  background-color: #ae9e5f;
  color: white;
  font-weight: 700;
}

.old-price{
  text-decoration: line-through;  
}

.new-price{
  font-size: 20px;
}

.handmade-pic{
  width: 100%;
}

/*** Footer-start ***/

.footer {
  height: 170px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  position: relative;
}

.social-media-container {
  background-color: #f5f7f6;
  width: 100%;
  height: 83px;
  display: flex;
}

.footer-social {
  width: 25px;
  height: 25px;
  display: block;   
  background-position: center center;   
  background-size: cover;
  margin-right: 25px;
}

.footer-social-list {
  display: flex;
  background-color: #f4f7f6;
  justify-content: center;
  width: 110px;
  margin: auto;
}

.footer-social-link {       
  width: 25px;
  height: 25px;
  display: block;   
  background-position: center center;
  background-size: cover;
}

.dribbble {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.pinterest {
 background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg)
}

.tumblr {
 background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg)
}

.copyright {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.copyright-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 40px;
}